.assignbuttons
{
    margin-top: 40px;
    margin-left: 60%;

}
.w1
{
    margin-right: 10%;
}
.w2
{
    margin-right: 10%;

}
.m1
{
    margin-right: 10%;

}
h1
{
    margin-top: -37px;
    font-family: cursive;
    font-size: 32px;
    margin-left: 20px;

}