form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
    width: 150px;
    font-size: 11px;
  }
  
  button[type="submit"] 
  {
    background-color: #25ab75;
    color: #fff;
    padding: 8px 1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: -53.2px;
    margin-left: 105px;
  }
  
  button[type="submit"]:hover {
    background-color: lightgray;
  }
  
  button[type="submit"]:focus {
    outline: none;
  }
  
  button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  