<div class="container">
    <input type="text" class="input-text" placeholder="Type a task" [(ngModel)]="todoValue" (keyup.enter)="addItem()" />
    <button class="add-btn" (click)="addItem()">Add</button>

    <div class="list">
        <ul>
            <li *ngFor="let item of myTaskList">
                <input type="checkbox" name="isDone" [(ngModel)]="item.isDone" />
                {{ item.value }}
                <button class="btn" (click)="deleteItem(item.id)">Delete</button>
                
            </li>
        </ul>
    </div>
    <div class="container">
        <input matInput

        <!-- <input matInput [matDatepicker]="picker">
        <mat-card>MM/DD/YYYY</mat-card>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker> -->
        <!-- <ul>
            <li *ngFor="let item of myTaskList">
                <input type="text" name="isDone" [(ngModel)]="item.isDone" />
                 {{ item.value }} -->
                <!-- <button class="btn" (click)="deleteItem(item.id)">Delete</button>
            </li>
        </ul>  -->
    </div>
    
</div>
